BOT_TOKEN=MTQ4MzU5ODYzMzQzMjUxNDY4NA.Gnhhk_.b6JthegsZz0_huOCgZwlVZQGlT3TXg5VeAo9Gw
CLIENT_ID=1483598633432514684
GUILD_ID=1456676750460190845
ALLOWED_ROLE_ID=1458213062195679315
GROQ_API_KEY=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
SELLAUTH_API_KEY=5633482|LYKZhG7jawEklJGjoV7yzre06Q5wwjb7dbwu2Mbeab573e5b
SELLAUTH_SHOP_ID=103032
SELLAUTH_API_BASE=https://api.sellauth.com/v1
