BOT_TOKEN=your_bot_token_here
CLIENT_ID=your_application_client_id_here
GUILD_ID=your_server_id_here
ALLOWED_ROLE_ID=your_allowed_role_id_here
SELLAUTH_API_KEY=your_sellauth_api_key_here
SELLAUTH_SHOP_ID=your_sellauth_shop_id_here
SELLAUTH_API_BASE=https://api.sellauth.com/v1
